.page {
  display: flex;
  height: 100vh;
  margin-left: 0;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  color: black;
}

.header {
  display: flex;
  align-items: center;
  height: 40px;
}