#welcome {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 70px;
}

#home_img {
    height: 100px;
}

.canvas-label {
    background-color: #091434;
    display: flex;
    font-size: 20px;
    height: 35px;
    border-radius: 10px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.canvas-label:hover {
    cursor: pointer;
    background-color: #0C1B45;
}

.canvas-label-head {
    font-size: 40px;
    display: flex;
    height: 50px;
    border-radius: 5px;
    padding: 0 10px;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}