.layer-panel {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 40%;
    background-color: white;
    overflow-x: scroll;
}

.selected {
    padding: 0 5px;
    background-color: rgb(236, 236, 236);
    font-weight: 700;
}

.non_selected {
    padding: 0 5px;
}